.category-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 0;
  background-color: #3e5b4a;
  color: white;
  cursor: pointer;

  @media screen and (min-width: 768px) and (min-height: 512px) {
    text-align: left;
  }

  &__icon {
    font-size: 3rem;
    margin: 0 auto;

    @media screen and (min-width: 768px) and (min-height: 512px) {
      margin: 0;
    }
  }

  &__text {
    margin: 0 auto;
    font-size: 1.5rem;

    @media screen and (min-width: 768px) and (min-height: 512px) {
      margin: 0;
    }
  }

  &__desc {
    margin: 0 auto;
    font-size: 1rem;
    text-wrap: pretty;

    @media screen and (min-width: 768px) and (min-height: 512px) {
      margin: 0;
    }
  }

  &:hover {
    background-color: color-mix(in srgb, #3e5b4a, black 10%);
  }

  &:active {
    background-color: color-mix(in srgb, #3e5b4a, black 15%);
  }

  &:focus-visible {
    outline: 2px solid white;
    outline-offset: -1px;
  }
}
