.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.5ch;

  &__row {
    display: flex;
    gap: 0.5ch;
    margin: 0 auto;
  }

  &__key {
    background-color: #d4d4d3;
    color: #23233b;
    border: 0;
    height: 2.25em;
    width: 1.75em;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: min(1.2rem, 4.5dvw);

    @media screen and (min-width: 768px) and (min-height: 512px) {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: color-mix(in srgb, #d4d4d3, black 5%);
    }

    &:active {
      background-color: color-mix(in srgb, #d4d4d3, black 9%);
    }

    &:disabled {
      cursor: default;
      background-color: color-mix(in srgb, #d4d4d3, black 65%);
      color: color-mix(in srgb, white, black 9%);
    }
  }
}
