.letter-grid {
  display: grid;
  margin: 0 auto;
  width: fit-content;
  grid-template-columns: repeat(14, min(45px, 6dvw));
  gap: 0.25ch;
  padding: 0.25ch;
  background-color: #53655c;

  @media screen and (min-width: 768px) and (min-height: 512px) {
    grid-template-columns: repeat(14, min(90px, 6dvw));
    gap: 0.5ch;
    padding: 0.5ch;
  }
}
